*.vim
*.swp
*.exe
*.spec
*.orig
*.**~
*.***~
aai.json
archive_strategic.json
tags

coordination.json
operational.json
strategic.json
tmp.json
*/__pycache__/
*/build/
build/
dist/
burndown/
platforms/
